body {
  background-color: #e2f8ff;
  font-family: Candara, sans-serif;
  margin: 0;
}
#Main {
  background-color: #fff;
  margin: 0;
  padding: 10px;
}
#ExtLinks {
  background-color: #8aa2a6;
  margin: 0;
  position: fixed;
}

#LogoText {
  width: auto;
  height: 45px;
}
