body {
  background-color: #e2f8ff;
  font-family: Candara, sans-serif;
  margin: 0;
  padding: 0px 10px;
}
h1 {
  font-family: Georgia, serif;
  color: #265773;
}
h2 {
  font-family: Georgia, serif;
  color: #5e8497;
}
#Main {
  background-color: #fff;
  margin: 0;
  padding: 10px;
}
#ExtLinks {
  background-color: #8aa2a6;
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  /* Part of the fixed position */
  position: fixed;
  bottom: 0;
  left: 0;
  width: -webkit-fill-available;
  padding: 10px 0px;
}

#LogoText {
  width: auto;
  height: 45px;
}
